{% load static %}
<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8" />
    <title>DChat</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}"/>
  </head>

  <body>
    <div class="wrapper"><h1>Войдите в свой аккаунт</h1></div>
    <div class="wrapper">
      <form method="post" id="signin" >
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Войти</button>
        <p id="forSignIn">Нет аккаунта? <a href="/register">тык</a></p>
    </form>   
    </div>
  </body>
</html>

<!-- 
<form id="signin" method="" action="" autocomplete="off">
    <input type="text" id="user" name="user" placeholder="username" />
    <input type="password" id="pass" name="pass" placeholder="password" />
    <button type="submit">&#xf0da;</button>
    <p>forgot your password? <a href="#">click here</a></p>
</form> 
-->
