<!DOCTYPE html>
<html>
{% load static %}
<head>
    
    <title>Webbox</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static "/css/style.css" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">

</head>
<body>
    <header>    
        <span class="logo">Some header</span>
    </header>
    main>
        <h1></h1>
        <p></p>
        <
        <div class="wrapper_normal block_text_center">
            <h2>{{error.name}}</h2>
            <p>{{error.description}}</p>
    
            <a href="/" class="admin">Вход</a>
        </div>
</body>
</html>